@import "../bootstrap/css/bootstrap.less";
@import "variables.less";

body {
  font-family: "Roboto", Arial, serif;
}

.top-menu {
  background-color: #EDEDED;
  border-top: 3px solid #CD8250;
}

.top-menu1 > a {
  font-size: 15px;
  line-height: 14px;
  padding: 17px 18px 20px 18px;
  background-color: #fff;
  color: #CD8250;
  float: left;
}

.top-menu2 {
  //float: right;
  .dropdown-menu {
    position: relative;
    background: inherit;
    float: right;
  }
  .nav {
    float: right;
  }
  > ul > li {
    float: left;
    > a {
      padding: 0 12px;
      line-height: 53px;
      color: #888484;
      display: inline-block;
      font-size: 14px;
    }
    a:hover {
      background-color: #CD8250;
      color: #fff;
    }
  }
  .dropdown-toggle {
    :hover {
      color: #CD8250;
    }
  }
  .nav-btn.dropdown-toggle {
    display: none;
  }
}

.dropdown-menu {
  left: auto;
  margin: 0;
  padding: 0;
  border: 0 none;
  border-radius: 0;
  -webkit-box-shadow: none;
  box-shadow: none;
}

a, a span {
  -webkit-transition: 256ms ease-in-out;
  -moz-transition: 256ms ease-in-out;
  -o-transition: 256ms ease-in-out;
  transition: 256ms ease-in-out;
  -webkit-transition-property: background, color;
  -moz-transition-property: background, color;
  -o-transition-property: background, color;
  transition-property: background, color;

  //color: #252525;
  outline: none !important;
  text-decoration: none !important;
}

.header-block {
  background-color: #fff;
}

.logo-container {
  display: block;
  margin: 30px 0 26px;
}

.navbar-search, .shop-cart {
  margin-top: 37px;
  margin-bottom: 30px;
}

.search-query {
  background-color: #FAFAFA;
  height: 52px;
  border: none;
  border-radius: 0;
  min-width: 50px;
  padding: 17px;
  margin: 0 !important;
  outline: none !important;
  text-shadow: none;
  border-color: inherit;
  -webkit-box-shadow: none !important;
  box-shadow: none !important;
}

.navbar-search {
  button {
    color: #fff;
    background-color: #CD8250;
    height: 52px;
    width: 52px;
    font-size: 18px;
    border-radius: 0;
    border: none;
  }
  .btn-default:hover {
    color: #fff;
    background-color: #CD8250;
    border-color: #CD8250;
  }
  .input-group-btn {
    left: 1px;
  }

}

.shop-cart {
  background-color: #eee;
  width: 270px;
  float: right;
  padding-left: 0;
}

.shop-cart a, .navbar-search a {
  font-size: 20px;
  line-height: 52px;
  padding: 14px 18px 17px 18px;
  color: #fff;
  background: #CD8250;
}

.cart-info {
  padding: 9px 26px 0;
  line-height: 1.3em;
  float: right;
  span {
    color: #838383;
    line-height: 1.3em;
  }
  .items {
    color: #CD8250;
  }
}

.search-btn {
  display: none;
}

.padding0 {
  padding-left: 0 !important;
  padding-right: 0 !important;
}

.nav-container {
  border-top: 4px solid #CD8250;
  background: #252525;
}

ul {
  padding: 0;
  list-style: none;
}

.navigation {
  .dropdown-menu {
    display: none;
  }
  > .nav-li {
    font-size: 18px;
    list-style: none;
    float: left;
    > :first-child {
      border-left: 1px solid #343434;
      border-right: 1px solid #343434;
    }
    //& :not(:first-child) {
    //  border-right: 1px solid #343434;
    //}

    > a {
      display: block;
      padding: 0 15px;
      line-height: 50px;
      color: #fff;
      text-transform: capitalize;
      font-family: "Oswald", Arial, serif;
    }
  }
}

.img-banner {
  width: 100%;
  margin-top: 20px;
}

.flex-row {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: stretch;
  align-content: stretch;
}

.flex-column {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: stretch;
  align-content: stretch;
}

.item-grid {
  margin-top: 25px;
  > ul {
    .flex-row;
    > li {
      .flex-column;
      width: 250px;
      padding: 4px;
      //.product-info a {
      //  color: #505050;
      //}
    }
  }
  .desc-border {
    max-width: 102px;
    margin: 21px auto 12px;
    border-top: 1px solid #d7d7d7;
  }
  .price-box {
    color: #CD8250;
    font-size: 22px;
  }
  h3 > a:hover {
    color: #CD8250;
  }
  h3 {
    width: 98%;
  }
  .product-hover {
    height: 61px;
    text-align: center;
    ul {
      display: none;
      li {
        //table-cell
        span {
          color: #505050;
          width: 61px;
          line-height: 61px;
          font-size: 20px;
        }
        :hover span {
          color: #fff;
          background-color: #CD8250;
        }
      }
    }
  }
}

.scroll-top {
  position: fixed;
  right: 10%;
  bottom: 30px;
  background-color: #CD8250;
  //padding: 20px;
  opacity: 0;
  right: 30px;
  width: 45px;
  height: 45px;
  cursor: pointer;
  border-radius: 50%;
  font-size: 20px;
  line-height: 45px;
  text-align: center;
  transition: all 0.4s ease-in-out 0s;
  a {
    color: #fff;
  }
}

.scroll-top:hover {
  background: #505050;
}

footer {
  color: #B0B0B0;
  background-color: #363636;
  a {
    color: #B0B0B0;
  }
  .footer-block {
    margin: 15px 0;
  }
}

.footer-text {
  color: #505050;
  margin-bottom: 30px;
}

.subscribe-container {
  margin-bottom: 50px;
}

.footer-banners {
  .glyphicon-envelope, .glyphicon-earphone {
    color: #CD8250;
    border: 3px solid #ebebeb;
    border-radius: 50%;
    float: left;
    margin-right: 30px;
    padding-top: .6em;
    width: 70px;
    height: 70px;
    font-size: 28px;
    text-align: center;
  }
  .input-group button {
    padding-left: 15px;
    padding-right: 15px;
    font-size: 12px;
    height: 45px;
    border-radius: 0;
  }
  p {
    font-size: 22px;
    padding: 22px 0;
    a {
      color: #CD8250;
    }
  }
}

#w0 {
  max-width: 400px;
  padding: 14px 0;
  .form-control {
    border: 2px solid #ebebeb;
    border-right: transparent;
    //-webkit-box-shadow: none;
    box-shadow: none;
    padding: 1px 19px;
    font-size: 13px;
    height: 45px;
    border-radius: 0;
  }
  .help-block {
    position: absolute;
    top: 55px;
    font-size: 16px;
  }
}

.input-group-btn:last-child > .btn {
  margin-left: 0;
}

button {
  color: #fff;
  background: #CD8250;
  &:hover {
    color: #fff !important;
    background: #505050;
  }
}

.easycatalog-grid {
  .item {
    ul li {
      line-height: 25px;
    }
    h5 {
      font-size: 17px;
    }
  }
}

a {
  color: #505050;
  &:hover {
    color: #CD8250;
  }
}

label {
  color: #505050;
}

.container-label {
  display: block;
  position: relative;
  padding-left: 30px;
  margin-bottom: 7px;
  cursor: pointer;
  //font-size: 22px;
  //user-select: none;
  a {
    display: block;
  }
}

/* Hide the browser's default checkbox */
.container-label input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  left: 0;
}

/* Create a custom checkbox */
.checkmark {
  position: absolute;
  top: 0;
  left: 0;
  height: 20px;
  width: 20px;
  background-color: #eee;
}

/* On mouse-over, add a grey background color */
.container-label:hover input ~ .checkmark {
  background-color: #ccc;
}

/* When the checkbox is checked, add a blue background */
.container-label input:checked ~ .checkmark {
  background-color: #CD8250;
}

/* Create the checkmark/indicator (hidden when not checked) */
.checkmark:after {
  content: "";
  position: absolute;
  display: none;
}

/* Show the checkmark when checked */
.container-label input:checked ~ .checkmark:after {
  display: block;
}

/* Style the checkmark/indicator */
.container-label .checkmark:after {
  left: 9px;
  top: 5px;
  width: 5px;
  height: 10px;
  border: solid white;
  border-width: 0 3px 3px 0;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
}

.col-left {
  margin: 30px 0;
  .block {
    background-color: #FCFCFC;
    border-top: 3px solid #d9d9d9;
    padding: 0 20px 20px 20px;
    &:first-child {
      margin-top: 0;
    }
  }
}

.block-content {
  li {
    margin-top: 10px;
    font-size: 13px;
  }
  > ul > div {
    font-size: 16px;
  }
  > ul {
    border-bottom: 1px solid #e3e3e3;
    &:first-child {
      margin-top: 10px;
    }
    &:last-child {
      border-bottom: 0;
    }
  }
}

.page-title h1 {
  color: #000;
  //text-transform: none;
  font-size: 29px;
  font-weight: 600;
  border-bottom: 0;
  padding-bottom: 3px;
  margin: 0 0 30px;
}

.col-main {
  margin: 30px 0;
}

.toolbar {
  line-height: 32px;
  font-size: 13px;
  color: #878787;
  margin: 30px 0;
  border: 1px solid #e4e4e4;
  background: #f9f9f9;
  padding: 9px 10px 0px;
  label {
    float: left;
    margin: 0 13px 0 0;
    font-weight: 300;
  }
  .toolbar {
    float: right;
    margin: 0;
    border: 0;
    background: transparent;
    padding: 0;
  }
  .toolbar-dropdown {
    position: relative;
    float: left;
    margin-right: 13px;
    height: 32px;
    a span {
      padding-left: 30px;
      font-size: 10px;
    }
    .dropdown-toggle {
      padding: 0 10px;
      background: #fff;
      border: 1px solid #e4e4e4;
      color: #505050;
      display: inline-block;
      height: 32px;
      line-height: 31px;
    }
    .dropdown-menu {
      border-top: 3px solid #CD8250;
      background: #fff;
      -webkit-box-shadow: 3px 3px 10px 0px rgba(0, 0, 0, 0.15);
      -moz-box-shadow: 3px 3px 10px 0px rgba(0, 0, 0, 0.15);
      box-shadow: 3px 3px 10px 0px rgba(0, 0, 0, 0.15);
      a {
        display: block;
        padding: 0 15px;
        line-height: 33px;
        font-size: 12px;
        color: #363636;
      }
    }
  }
}

.sorter {
  float: left;
  margin-bottom: 10px;
  > .sort-by {
    //float: left;
  }
}

.pagination {
  float: right;
  margin: 0 0 10px;
  line-height: 32px;
  font-size: 13px;
  color: #878787;
}

.pagination {
  > .disabled > span, > .disabled > span:hover {
    background-color: transparent;
    border-color: transparent;
  }
}

//MEDIA
@media (max-width: 991px) {
  .search-btn {
    display: table-cell;
  }

  .shop-cart {
    display: none;
  }

  .top-menu2 {
    float: right;
    .dropdown-menu {
      //display: none;
      position: absolute;
      right: 14px;
      border-top: 3px solid #CD8250;
      background: #fff;
      -webkit-box-shadow: 3px 3px 10px 0 rgba(0, 0, 0, 0.15);
      -moz-box-shadow: 3px 3px 10px 0 rgba(0, 0, 0, 0.15);
      box-shadow: 3px 3px 10px 0 rgba(0, 0, 0, 0.15);
    }
    .nav-btn.dropdown-toggle {
      display: block;
      padding: 0 10px;
      line-height: 52px;
      color: #b0b0b0;
    }
    > ul > li {
      float: none;
      > a {
        display: block;
        padding: 0 15px;
        line-height: 33px;
        font-size: 12px;
        color: #363636;
      }
      a:hover {
        background-color: #eee;
        color: #363636;
      }
    }
  }

  .navigation {
    margin: 0;
    > li > a {
      line-height: 40px;
    }
  }

}

@media (min-width: 768px) {
  .navigation {
    .dropdown-menu {
      display: none;
      left: 15px;
      background-color: #F5F5F5;
      border-bottom: 3px solid #363636;
      right: 15px;
      padding: 12px 0 10px;
      top: initial;
    }
  }

  .menu-wrapper {
    display: block;
    margin-bottom: 10px;
  }

  .easycatalog-grid {
    padding: 0;
    margin: 0;
    list-style: none;
    li {
      margin: 0;
    }
    .item {
      width: 20%;
      padding: 10px;
      float: left;
    }
    h5 {
      margin: 0 0 8px;
      a {
        font-size: 17px;
        font-weight: normal;
        text-decoration: none;
      }
      a:hover {
        color: #CD8250;
      }
    }
    img {
      width: 194px;
      max-width: 100%;
      height: auto;
    }
  }

}

@media (min-width: 992px) {
  .navigation {
    .dropdown-menu {
      right: 0;
      padding: 30px 35px 0;
    }
  }

  .top-menu2 > .dropdown-menu {
    display: block !important;
  }
}

@media (max-width: 767px) {
  .navigation {
    > li {
      float: none;
      > a {
        padding: 0 15px;
        line-height: 33px;
        font-size: 16px;
      }
    }
  }

  .footer-banners .glyphicon-envelope, .footer-banners .glyphicon-earphone {
    width: 50px;
    height: 50px;
    font-size: 21px;
    margin-right: 15px;
  }

  #w0 {
    .form-control {
      padding: 1px 10px;
      top: -10px;
    }
    .help-block {
      font-size: 13px;
      top: 30px;
    }
    .input-group-btn:last-child > .btn {
      top: -10px;
    }
  }

  .footer-banners {
    .input-group button {
      padding-left: 7px;
      padding-right: 7px;
    }
    .call-us {
      display: none;
    }
    p {
      padding: 13px 0;
    }
  }

  .subscribe-container {
    margin-bottom: 10px;
  }

  .pagination {
    float: left;
  }
}

//MEDIA

#breadcrumbs {
  border-bottom: 1px solid #e4e4e4;
  border-left: 0;
  border-right: 0;
  margin: 0;
}

.breadcrumb {
  background-color: transparent;
  border-radius: 0;
  margin-bottom: 0;
  padding: 0;
  > li:first-child {
    border-left: 1px solid #e4e4e4;
  }
  li {
    border-right: 1px solid #e4e4e4;
    padding: 4px 16px;
  }
  > li + li:before {
    content: '';
  }
}

.col-main {
  margin-top: 40px;
  h1 {
    margin: 0 0 40px;
    overflow: hidden;
    line-height: 1.4;
  }
}

.product-img-box {
  //width: 570px;
  //float: left;
}

.product-shop {
  padding-left: 30px;
  float: none;
  overflow: hidden;
  margin-bottom: 15px;
  .price-info {
    float: none;
    text-align: left;
    margin: 35px 0 0;
    padding: 0;
  }
  .regular-price {
    line-height: 1.2;
    .price {
      font-size: 40px;
      font-weight: 700;
      color: #CD8250;
    }
  }
  .add-to-cart {
    margin-top: 30px;
    .button {
      margin-bottom: 30px;
      padding: 0 24px;
      border: 0;
      vertical-align: top;
      font-size: 17px;
      span {
        line-height: 73px;
        font-size: 20px;
        width: 24px;
        margin-right: 30px;
      }
    }
  }
  .qty-container {
    display: inline-block;
    margin: 0 30px 30px 0;
    padding: 20px 17px;
    background: #f7f7f7;
    label {
      margin-right: 10px;
      font-weight: 400;
      display: inline-block;
    }
    span {
      width: 17px;
      text-align: center;
      background-color: #fff;
      border: 1px solid #e4e4e4;
      color: #505050;
      font-weight: 700;
      font-size: 16px;
      line-height: 30px;
      cursor: pointer;
      display: inline-block;
    }
    input[type=text].qty {
      width: 33px;
      height: 32px;
      border: 1px solid #e4e4e4;
      border-left: 0;
      border-right: 0;
      vertical-align: top;
      text-align: center;
    }
    input {
      display: inline-block;
    }
  }
  .add-to-links {
    border-top: 1px solid #e4e4e4;
    padding-top: 30px;
    li {
      display: inline-block;
      margin: 0 34px 15px 0;
      a {
        font-size: 18px;
        width: 110px;
        font-weight: 700;
        span {
          margin-right: 13px;
          font-size: 26px;
          float: left;
        }
      }
    }
  }
  select {
    width: 425px;
    height: 30px;
    max-width: 100%;
    margin-bottom: 20px;
    padding-left: 5px;
  }
}

.block-account {
  .block-title {
    position: relative;
    margin: 0;
    padding: 20px 0;
    border-bottom: 1px solid #e3e3e3;
    strong {
      font-size: 16px;
      text-transform: uppercase;
    }
  }
  li {
    text-transform: uppercase;
    border-bottom: 1px solid #e3e3e3;
    padding: 8px 0;
  }
}

.my-wishlist {
  h1 {
    padding-bottom: 3px;
    margin-bottom: 30px;
  }
  fieldset {
    min-width: 0;
    padding: 0;
    margin: 0;
    border: 0;
  }
  .data-table {
    th {
      background-color: #363636;
      color: #ffffff;
      font-size: 17px;
      text-align: center;
      padding: 15px 10px;
      text-transform: uppercase;
      line-height: 1.4;
      vertical-align: top;
    }
    tr:nth-child(odd) td {
      background-color: #f7f7f7;
    }
    tbody td {
      border-bottom: 1px solid silver;
    }
    td {
      line-height: 1.2;
      padding: 10px;
      vertical-align: top;
    }
    a.product-image {
      display: block;
      width: 135px;
      text-align: center;
    }
    .product-name {
      margin: 0;
      font-size: 14px;
    }
    .cart-cell {
      text-align: center;
    }
    .price-box {
      font-size: 12px;
      display: inline-block;
    }
    .price-box .price {
      color: #636363;
    }
    .qty-container {
      display: block;
      margin: 15px auto 0;
      padding: 0;
      background: transparent;
      span {
        width: 17px;
        background-color: #fff;
        border: 1px solid #e4e4e4;
        font-weight: 700;
        font-size: 16px;
        line-height: 31px;
        cursor: pointer;
        display: inline-block;
      }
      input[type=text].qty {
        width: 33px;
        height: 32px;
        border: 1px solid #e4e4e4;
        border-left: 0;
        border-right: 0;
        vertical-align: top;
        text-align: center;
      }
      input {
        display: inline-block;
      }
    }
    .btn-cart {
      margin: 15px auto 0;
    }
  }
}

.button {
  padding: 5px 12px;
  line-height: 1.42857143;
  white-space: nowrap;
  vertical-align: middle;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  background-image: none;
  border: 1px solid transparent;
}